.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### UI JS
# Front End Dependency Generated
ui-react/.sass-cache/
ui-react/bower_components/
ui-react/dist/
ui-react/node/
ui-react/node_modules/
ui-react/npm-debug.log
ui-react/.tscache/
ui-react/scss/.tmp/
dist/
# dependencies
node_modules

# testing
coverage

# production
build
dist

# misc
.DS_Store
.env
npm-debug.log
