config:
  auth_server: true
  refreshTokens: true

server:
  port: 9999
  contextPath: /uaa

spring:
  profiles:
    active: dev
  groovy:
    template:
      cache: false
  #activemq:
   # broker-url: failover://tcp://localhost:61616
   # user: admin
   # password: admin

  jpa:
    show-sql: true
    generate-ddl: true
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        physical_naming_strategy: com.merrill.examples.oauth2.commons.utils.PhysicalNamingStrategyImpl

tokenDatasource:
  mongo-uri: mongodb://tokenstore_user:Password1!@localhost:27017/tokenstoredb

userDatasource:
  driver-class-name: com.mysql.jdbc.Driver
  url: jdbc:mysql://localhost:3306/oauth_example
  username: scott
  password: tiger


